<template>
    <div>
      <f-header></f-header>
      <div class="white">
        <router-view style="min-height: 200px;"/>
      </div>
      <f-footer></f-footer>
    </div>
</template>

<script>
import frontendHeader from './frontendHeader'
import frontendFooter from './frontendFooter'
import coddyger from '../../scripts/coddyger'

export default {
  name: 'frontend-layout',
  components: {
    'f-header': frontendHeader,
    'f-footer': frontendFooter
  },
  mounted () {
    coddyger.externalJS('../../assets/vendors/jquery-3.3.1.js', 'head')
    coddyger.externalJS('../../assets/vendors/popper.min.js')
    coddyger.externalJS('../../assets/vendors/bootstrap/js/bootstrap.min.js')
    coddyger.externalJS('../../assets/vendors/mdb/master.min.js')
    coddyger.externalJS('../../assets/vendors/jquery.nicescroll.min.js')
    coddyger.externalJS('../../assets/vendors/jquery.countdown.min.js')
    coddyger.externalJS('../../assets/vendors/owlcarousel/owl.carousel.js')
    coddyger.externalJS('../../assets/vendors/moment-with-locales.js')
    coddyger.externalJS('../../assets/vendors/holder.js')
  }
}
</script>

<style>
  #coddyger {
    background-color: #323232;
    text-align: center;
  }
  /*
  a.router-link-exact-active {
    color: #42b983;
  }
   */
</style>
