<template>
  <header>
    <div class="mid_nav">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-12 col-xs-12">
            <div class="LogoClass padding5 pt-4 pb-4 wow fadeIn" data-wow-delay="0.5s">
              <a href="/">
                <img src="../../assets/img/sm_header_ud.png" id="main_logo" class="img-fluid flex-center" alt="AppName">
              </a>
            </div>
          </div>
          <div class="col-md-10 col-sm-12 col-xs-12">
            <div class="contacts paddingTop30 grey-text alignRight">
              <i>notre site internet est en redesign :)</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="last_nav">
      <nav id="main_navbar" class="navbar navbar-expand-lg navbar-dark primary-color">
        <div class="container">
          <a class="navbar-brand init_coming_soon" href="tel:+22509787751"><i class="fa fa-phone-square"></i></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MainMenu" aria-controls="MainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <v-menu></v-menu>
        </div>
      </nav>
    </div>
  </header>
</template>

<script>
import Menu from '../../components/frontend/menu'

export default {
  name: 'frontendHeader',
  components: {
    'v-menu': Menu
  }
}
</script>

<style scoped>

</style>
