<template>
  <footer class="page-footer font-small black white-text pt-4 _border_top_1">
    <div class="container">
      <div class="row text-center text-md-left mt-3 pb-3">
        <div class="col-md-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-2 font-weight-bold">
            <a href="/">
              <img src="../../assets/img/sm_header_ud.png" class="img-fluid" alt="AppName" />
            </a>
          </h6>
          <p>
            Offrez-vous des applications ou des sorties multimedias, incluant des sites internet, application web, application mobile, montage vidéos professionel, montage photos et plus.<br />
            UltronDev a de nombreux servies spéciaux pour vous aider à obtenir exactement ce que vous cherchez.
          </p>
        </div>
        <hr class="w-100 clearfix d-md-none">
        <div class="col-md-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-2 font-weight-bold">Site Statistics</h6>
          <hr class="mainBg accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 70%;">
          <div id="visits_statistics"></div>
        </div>
        <hr class="w-100 clearfix d-md-none">
        <div class="col-md-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-2 font-weight-bold">Aides</h6>
          <hr class="mainBg accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 70%;">
          <p>
            <a href="#">FAQ</a>
          </p>
          <p>
            <a href="#">Confidentialité</a>
          </p>
          <p>
            <a href="#">Terms & Services</a>
          </p>
          <p>
            <a href="#">Forums</a>
          </p>
        </div>
        <hr class="w-100 clearfix d-md-none">
        <div class="col-md-4 mx-auto mt-3">
          <div class="fb-page"
               data-href="https://www.facebook.com/ultrondev"
               data-tabs=""
               data-small-header="false"
               data-adapt-container-width="true"
               data-hide-cover="false"
               data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/ultrondev" class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/ultrondev">UltronDev</a>
            </blockquote>
          </div>
        </div>
      </div>
      <hr class="_border_top_1">
      <div class="row d-flex align-items-center mt-3 dark-grey ">
        <div class="col-md-7 col-lg-8">
          <p class="text-center text-md-left">© 2013 - 2019
            <a href="/">
              <strong> UltronDev&trade;</strong>
            </a>
          </p>
        </div>
        <div class="col-md-5 col-lg-4 ml-lg-0">
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a :href="facebook_link" target="_blank" class="btn-floating blue btn-sm rgba-white-slight mx-1">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="/" target="_blank" class="btn-floating red btn-sm rgba-white-slight mx-1">
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'frontendFooter',
  data () {
    return {
      facebook_link: 'https://web.facebook.com/UltronDev/'
    }
  }
}
</script>

<style scoped>

</style>
