<template>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" v-for="(item, index) in itemsMenu" v-bind:key="index">
        <router-link class="nav-link" :to="item['menu_link']">{{ item['menu_title'] }}</router-link>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons ml-auto">
      <li class="nav-item">
        <a href="#" class="nav-link init_coming_soon"><i class="fa fa-lock"></i> <span class="clearfix d-none d-sm-inline-block">Connexion</span></a>
      </li>
      <li class="nav-item black">
        <a href="#" class="nav-link init_coming_soon"><i class="fa fa-sign-in"></i> <span class="clearfix d-none d-sm-inline-block">S'inscrire</span></a>
      </li>
    </ul>
  </div>
</template>

<script>
import jsonMenu from '../../assets/jsonMenu'
export default {
  name: 'Menu',
  data () {
    return {
      'itemsMenu': jsonMenu.coddyger_menu.frontend
    }
  },
  mounted () {
    console.log(this.itemsMenu)
  }
}
</script>
