<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>assets/img/icon.png">
      <title>{{ title }}</title>
      <meta property="fb:app_id" content="793582257660420" />
      {{{ meta!=='' ? meta : '' }}}
  </head>
  <body id="coddyger">
    <noscript>
      <strong>We're sorry but coddyger-vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
