/*
|--------------------------------------------------------------------------
| Coddyger - PHP Framework
|--------------------------------------------------------------------------
|
| Authors :: UltronDev
| Authors Url :: https://www.ultrondev.com/
|
*/
@font-face {
    font-family: 'Dosis';
    src: url('../fonts/dosislight.ttf');
}
body{
    font-family: 'Dosis', sans-serif !important;
    margin: 0;
    font-size: 100%;
    background-size: cover;
    background-image: url("../img/bg.jpg");
    background-color: #000;
}
h1,h2,h3,h4,h5,h6,a,span,p{
    font-family: 'Dosis', sans-serif !important;
}
a:hover {
    text-decoration: none;
    color: #f9f9f9;
}

/*
|--------------------------------------------------------
| APPLICATION RESSOURCES
|--------------------------------------------------------
|
| Authors :: UltronDev Associates
| Authors Url :: https://www.ultrondev.com/
|
*/
.home_bloc_1 {
    background-image: url("../img/bg0.jpg");
    background-size: cover;
}
.fixed-top {
    transition: all 0.5s ease-in!important;
}

._border_top_1 {
    border-top: 1px solid #C00202;
}
._border_top_2 {
    border-top: 2px solid #C00202;
}
._border_bottom_1 {
    border-bottom: 1px solid #C00202;
}
._border_bottom_2 {
    border-bottom: 2px solid #C00202;
}
._red_border {
    border-color: red;
}
._green_border {
    border-color: green;
}
._black_border {
    border-color: black;
}
/* ******************************************************************* */
.the-box-shadow-main {
    webkit-box-shadow: 0 0 40px rgba(255,87,34, 0.66);
    -khtml-box-shadow: 0 0 40px rgba(255,87,34, 0.66);
    -moz-box-shadow: 0 0 40px rgba(255,87,34, 0.66);
    -ms-box-shadow: 0 0 40px rgba(255,87,34, 0.66);
    -o-box-shadow: 0 0 40px rgba(255,87,34, 0.66);
    box-shadow: 0 0 40px rgba(255,87,34, 0.66);
}
.the-box-shadow-second {
    webkit-box-shadow: 0 0 40px rgba(76, 170, 72, 0.66);
    -khtml-box-shadow: 0 0 40px rgba(76, 170, 72, 0.66);
    -moz-box-shadow: 0 0 40px rgba(76, 170, 72, 0.66);
    -ms-box-shadow: 0 0 40px rgba(76, 170, 72, 0.66);
    -o-box-shadow: 0 0 40px rgba(76, 170, 72, 0.66);
    box-shadow: 0 0 40px rgba(76, 170, 72, 0.66);
}
.borderLeft{
    border-left: 1px solid #C00202;
}
.NiceTable{
    border-top:2px solid #C00202;
    background-color: #fff;
}
.timeline-author{
    font-weight: bold!important;
    color: #fff!important;
}
.blackBgTrans{
    background-color: rgba(0,0,0,.2) !important;
}
.mainBgTrans{
    background-color: rgba(237,28,36,.2) !important;
}
.nopadding{
    padding: 0!important;
}
.noborderRadius{
    border-radius: 0;
}
.borderEx1{
    border: 1px solid red;
}
.progress {
    height: 35px;
    background-color: rgba(211,7,14,.3);
}
.progress .skill {
    font: normal 12px "Open Sans Web";
    line-height: 35px;
    padding: 0;
    margin: 0 0 0 20px;
    text-transform: uppercase;
}
.progress .skill .val {
    float: right;
    font-style: normal;
    margin: 0 20px 0 0;
}

.progress-bar {
    text-align: left;
    transition-duration: 3s;
}
/* ******************************************************************* */

/* ******************************************************************* */
.mainColor{
    color: #C00202 !important;
}

.mainBg{
    background-color: #C00202 !important;
}
/*
|--------------------------------------------------------
| MDB UPDATE
|--------------------------------------------------------
|
| Authors :: UltronDev Associates
| Authors Url :: https://www.ultrondev.com/
|
*/
input[type="checkbox"]:checked + .lever::after {
    background-color: #C00202!important;
    left: 24px;
}
input[type="radio"]:checked + .lever::after {
    background-color: #C00202!important;
    left: 24px;
}
.optgroup span{
    color: #000!important;
    font-size: 20px!important;
}

/*
|--------------------------------------------------------
| END - MDB UPDATE
|--------------------------------------------------------
*/
