<template>
  <div class="about">
    <h4>This is an about page</h4>
  </div>
</template>
<script>
// import coddyger from '../scripts/coddyger'
// import { appDesc } from '../data/config'
export default {
  name: 'about',
  head: {
    title () { return `${this.name}  con ` },
    meta: [
      { name: 'description', content () { return `El perfil de ${this.name}` } },
      { name: 'keywords', content () { return `${this.name} ${this.lastname} ${this.email}` } },
      { name: 'twitter:card', content: 'summary' },
      { name: 'twitter:site', content: 'aqwzsx' },
      { name: 'twitter:creator', content: 'aqwx' },
      { name: 'twitter:url', content: location.href },
      { name: 'twitter:title', content () { return `${this.name} creando Vuejs SSR + Firebase` } },
      { name: 'twitter:description', content: 'aaaa' },
      { name: 'twitter:image', content: 'nopic' }
    ]
  },
  data () {
    return {
      pageData: {
        title: 'About',
        url: location.href
      }
    }
  },
  mounted () {
    /*
    coddyger.setPageTitle(this.pageData.title)
    coddyger.setPageOg({
      'url': this.pageData.url,
      'title': this.pageData.title,
      'type': 'web',
      'description': appDesc,
      'image': 'nopic'
    })
     */
  }
}
</script>
