/* **********************************************************************
*************************************************************************
*************************************************************************
UltronDEV **************************************************************
*************************************************************************
*************************************************************************
************************************************************************* */
@import 'cdg_size.css';
.fullwidth {
  width: 100% !important
}
.alignCenter{
  text-align: center!important;
}
.alignRight{
  text-align: right!important;
}
.alignLeft{
  text-align: left!important;
}
.whiteColor {
  color: #fff !important;
}

/* **********************************************************************
*************************************************************************
Note *******************************************************************
*************************************************************************
*********************************************************************** */
.note {
 margin:0 0 20px;
 padding:15px 30px 15px 15px;
 border-left:5px solid #eee
}
.note h1,.note h2,.note h3,.note h4{
 margin-top:0
}
.note p:last-child{
 margin-bottom:0
}
.note .highlight,.note code{
 background-color:#fff
}
.note-danger,.note-error{
 background-color:#FAEAE6;
 border-color:#ed4e2a;
 color:#db564d;
}
.note-warning{
 background-color:#FCF3E1;
 border-color:#fcb322;
 color:#d99402;
}
.note-info{
 background-color:#E8F6FC;
 border-color:#57b5e3;
 color:#1c9ddf;
}
.note-success{
 background-color:#EBFCEE;
 border-color:#3cc051;
 color:#19af1c;
}
.note-disabled{
 background-color:#d3d7d9;
 border-color:#333333;
 color:#1d2221;
}

/* ---------------- */
.cds-svg-icon {
    height: 100px;
    width: 100px;
}
.cds-svg-icon g [fill] {
    fill: #F77F00;
}
.cds-svg-icon.cds-svg-icon--brand g [fill] {
    fill: #F77F00;
}
.cds-svg-icon.cds-svg-icon--light g [fill] {
    fill: #ffffff;
}
.cds-svg-icon.cds-svg-icon--dark g [fill] {
    fill: #282a3c;
}
.cds-svg-icon.cds-svg-icon--primary g [fill] {
    fill: #5867dd;
}
.cds-svg-icon.cds-svg-icon--success g [fill] {
    fill: #0abb87;
}
.cds-svg-icon.cds-svg-icon--info g [fill] {
    fill: #5578eb;
}
.cds-svg-icon.cds-svg-icon--warning g [fill] {
    fill: #ffb822;
}
.cds-svg-icon.cds-svg-icon--danger g [fill] {
    fill: #fd397a;
}
.cds-svg-icon.cds-svg-icon--sm {
    height: 20px;
    width: 20px;
}
.cds-svg-icon.cds-svg-icon--md {
    height: 30px;
    width: 30px;
}
.cds-svg-icon.cds-svg-icon--lg {
    height: 40px;
    width: 40px;
}
.cds-svg-icon.cds-svg-icon--xl {
    height: 50px;
    width: 50px;
}