<template>
  <div id="app">
    <router-view/>
  </div>
</template>
<style>
@import './assets/vendors/font-awesome/css/font-awesome.min.css';
@import './assets/vendors/simple-line-icons/css/simple-line-icons.css';
@import './assets/vendors/mdb/master.min.css';
@import './assets/vendors/owlcarousel/owl.carousel.css';
@import './assets/vendors/owlcarousel/owl.theme.css';

@import './assets/css/animate.css';
@import './assets/css/app.css';
</style>
