<template>
  <div>
    <h4>Welcome Home</h4>
    <div id="test001"></div>
  </div>
</template>

<script>
// import coddyger from '../../../scripts/coddyger'
// import { appDesc } from '../../../data/config'

export default {
  name: 'home',
  head: {
    title () { return this.pageData.title },
    meta: [
      { name: 'description', content: '' },
      { name: 'keywords', content: '' },
      { name: 'og:site', content: '' },
      { name: 'og:type', content: 'web' },
      { name: 'og:url', content: 'this.pageData.url' },
      { name: 'og:title', content: 'this.pageData.title' },
      { name: 'og:description', content: '' }
    ]
  },
  data () {
    return {
      pageData: {
        title: 'UltronDev Associates, Bienvenue chez vous',
        url: location.href
      }
    }
  },
  mounted () {
    /*
    coddyger.setPageTitle(this.pageData.title)
    coddyger.setPageOg({
      'url': this.pageData.url,
      'title': this.pageData.title,
      'type': 'web',
      'description': appDesc,
      'image': 'nopic'
    })
     */
  },
  beforeMount () {

  }
}
</script>

<style scoped>

</style>
