<template>
  <div>Questions</div>
</template>

<script>
export default {
  name: 'questions',
  head: {
    title () { return this.pageData.title },
    meta: [
      { name: 'description', content: '' },
      { name: 'keywords', content: '' },
      { name: 'og:site', content: '' },
      { name: 'og:type', content: 'web' },
      { name: 'og:url', content: 'this.pageData.url' },
      { name: 'og:title', content: 'this.pageData.title' },
      { name: 'og:description', content: '' }
    ]
  },
  data () {
    return {
      pageData: {
        title: 'Questions :: UltronDev Associates',
        url: location.href
      }
    }
  }
}
</script>

<style scoped>

</style>
